@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { font-size: 20px; min-height: 100%; margin: 0; padding: 0; }
body { height: 100%; }
#root { min-height: 100vh; }

main { background-color: '#fff'; }

/* Colors */

/* Primary */
.text-primary { color: hsl(223, 87%, 63%); }
.bg-primary { background-color: hsl(223, 87%, 63%); }
.hover\:bg-primary:hover { background-color: hsl(223, 87%, 63%); }
.border-primary { border-color: hsl(223, 87%, 63%); }
.focus\:border-primary:focus { border-color: hsl(223, 87%, 63%); }
.hover\:border-primary:hover { border-color: hsl(223, 87%, 63%); }

/* Secondary */
.text-secondary { color: hsl(223, 100%, 88%); }
.border-secondary { border-color: hsl(223, 100%, 88%); }
.text-warning { color: hsl(354, 100%, 66%); }
.border-warning { border-color: hsl(354, 100%, 66%); }

/* Neutral */
.text-light { color: hsl(0, 0%, 59%); }
.border-light { border-color: hsl(0, 0%, 59%); }
.text-dark { color: hsl(209, 33%, 12%); }
.focus\:text-dark:focus { color: hsl(223, 87%, 63%); }


